<!DOCTYPE HTML>
<html>
<head>
    <title>厉害了我的坑</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav-icon.png}" href=""/>
</head>
<body>

<div th:include="header :: header"></div>
<div style="margin: 150px 0 0 0">
<img th:src="@{/images/qrcode.jpg}" />
</div>
<div th:include="footer :: footer"></div>

</body>
</html>