<!DOCTYPE html>
<html lang="en">
<head>
    <title>吐槽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav-icon.png}" href=""/>
</head>
<body>
<div th:include="header :: header"></div>
</body>
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            <form action="#">
                <div class="form-group">
                    <label for="name">公司名称</label>
                    <input type="text" class="form-control" id="name" placeholder="公司名称" />
                </div>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" placeholder="标题" />
                </div>
                <div class="form-group">
                    <label for="content">内容</label>
                    <textarea style="resize: none" class="form-control" id="content" placeholder="内容"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.autocomplete.js}"></script>
<script type="text/javascript" th:src="@{/js/complain.js}">
</script>
</html>