
<div th:fragment="header">
    <link th:href="@{/css/style.css}" href="" rel='stylesheet' type='text/css' />
    <link th:href="@{/css/main.css}" rel="stylesheet" href=""/>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/layer/2.1/layer.js"></script>
    <script src="http://apps.bdimg.com/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(function() {
            $('#activator').click(function(){
                $('#box').animate({'top':'0px'},500);
            });
            $('#boxclose').click(function(){
                $('#box').animate({'top':'-700px'},500);
            });
        });
        $(document).ready(function(){
            //Hide (Collapse) the toggle containers on load
            $(".toggle_container").hide();
            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
            $(".trigger").click(function(){
                $(this).toggleClass("active").next().slideToggle("slow");
                return false; //Prevent the browser jump to the link anchor
            });
        });
    </script>

    <div class="header">
        <div class="wrap">
            <div class="logo">
                <a href="/"><img th:src="@{/images/criminal.png}" src="" title="blacklist"/></a>
            </div>
            <div class="nav-icon">
                <a href="#" class="right_bt" id="activator"><span> </span> </a>
            </div>
            <!--<div class="box" id="box">-->
                <!--<div class="box_content">-->
                    <!--<div class="box_content_center">-->
                        <!--<div class="form_content">-->
                            <!--<div class="menu_box_list">-->
                                <!--<ul>-->
                                    <!--<li><a href="#"><span>home</span></a></li>-->
                                    <!--<li><a href="#"><span>About</span></a></li>-->
                                    <!--<li><a href="#"><span>Works</span></a></li>-->
                                    <!--<li><a href="#"><span>Clients</span></a></li>-->
                                    <!--<li><a href="#"><span>Blog</span></a></li>-->
                                    <!--<li><a href="contact.html"><span>Contact</span></a></li>-->
                                    <!--<div class="clear"></div>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<a class="boxclose" id="boxclose"> <span> </span></a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="top-searchbar">
                <form>
                    <input type="text"/><input type="submit" value=""/>
                </form>
            </div>
            <div class="userinfo">
                <div class="user">
                    <ul>
                        <li><a href="/complain"><span class="glyphicon glyphicon-pencil"></span>发布</a></li>
                        <li>|</li>
                        <li><a href="#"><img th:src="@{/images/user-pic.png}" src="" title="user-name"/><span>yeli</span></a></li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>