<!DOCTYPE HTML>
<html>
<head>
    <title>厉害了我的坑</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav-icon.png}" href=""/>
</head>
<body>

<div th:include="header :: header"></div>
<input type="hidden" name="name" th:value="${name}"/>
<div class="content">
    <div class="wrap">
        <div id="main" role="main">
            <ul id="tiles">
            </ul>
        </div>
        <div id="indexPage"></div>
    </div>
</div>

<div th:include="footer :: footer"></div>
<script id="indexLi" type="text/x-handlebars-template">
    {{#each list}}
    <li onclick="window.location.href='/complaints/{{id}}'">
        <!--<img src="images/img2.jpg" width="200" height="299">-->
        <div class="post-info">
            <div class="post-basic-info">
                <h3><a href="javascript:;">{{name}}</a></h3>
                <span><a href="javascript:;"><label> </label>{{mark}}</a></span>
                {{#each complaints}}
                {{#if @index}}
                <p>{{content}}</p>
                {{/if}}
                {{/each}}
                <p>最后更新:{{updateTime}}</p>
            </div>
            <div class="post-info-rate-share">
                <div class="rateit">
                    <span> </span>
                </div>
                <div class="post-share">
                    <span> </span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script th:src="@{/js/jquery.imagesloaded.js}" src=""></script>
<script th:src="@{/js/jquery.wookmark.js}" src=""></script>
<script th:src="@{/laypage/laypage.js}"></script>
<script th:src="@{/js/index.js}" src=""></script>
</body>
</html>

